

/* New Game Container */
    #new-game-container{
        max-width: 1100px;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 50px;
        padding-bottom:16px;
        text-align:center;
        background-color: light-grey;
    } 

    #new-game-form{
        padding: 10px;
        border-radius: 10px;
    }

    #buttons{
        padding: 20px;
        border: 2px;
        margin: 10px;
    }

    .game-container{
        box-sizing: border-box;
        width: 50%;
        height: 800px;
    }

    .game-info {
        width: 250px;
        height: 100px;
        margin-top: 12px;
        margin-bottom: 5px
    }

    .game-title{
        font-size: 30px;
        padding-bottom: 8px;
        margin: 0px;
        text-align: left;
        color: coral;
    }

    img {
        width: 75%;
        height: 340px;
        padding: 20px;
    }

    button {
        padding: 10px;
    }

    /* Reviews Styles */

    #new-review-container{
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
        width:550px;
        height:250px;
        background-color: lightgrey;
        text-align:center;
        padding: 20px
    }

